@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Nunito:wght@400;600;700&family=Ramabhadra&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.scroller {
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-145px * 12));
  }
}
